<% nav_color = (controller_name == "pages" && action_name == "landing") ?  "dark" : "light" %>
<% pill_color = (controller_name == "pages" && action_name == "landing") ?  "light" : "dark" %>
<nav class="navbar navbar-default navbar-fixed-top navbar-expand-sm navbar-<%= nav_color %> navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-house-user"></i> <span>Home4Home</span>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item d-flex align-items-center active">
          <%= link_to "Home", "#", class: "ml-3  nav-link" %>
        </li>
        <li class="nav-item d-flex align-items-center">
          <%= link_to "Destinations", "#", class: "ml-3  nav-link" %>
        </li>
        <li class="nav-item d-flex align-items-center">
          <%= link_to "About", "#", class: "ml-3  nav-link" %>
        </li>
      <% if user_signed_in? %>
        
        <li class="nav-item dropdown mx-4">
          <%= cl_image_tag current_user.avatar.key, height: 300, width: 300, crop: :fill, gravity: :faces, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "ml-3  btn btn-outline-#{pill_color} btn-lg btn-hover rounded-pill login-button" %>
        </li>
        <li class="nav-item">
          <%= link_to "Register", new_user_registration_path, class: "mx-3  btn btn-outline-#{pill_color} btn-lg rounded-pill btn-hover register-button" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>





